.ticket_info {
    position:relative;
    width:55vw;
    height:60vh;
    margin:0 auto;
    background-color:black;
    padding:.75%;
}

.ticket_info h2 {
    font-size: 5em;
    font-weight:bold;
    font-family:"Bookman";
    color:coral;
    margin-bottom:2%;
    margin-top:1.5%;
    text-align:center;
}

.ticket_info span {
    color: slateblue;
    text-shadow:1.75px 1.75px 1.75px white;
}

.content {
    position:relative;
    width:50%;
    height:15%;
    padding:2%;
    margin:0 auto;
    text-align:center;
}

.content label {
    posiTion:relative;
    top:.3em;
    font-size: 3em;
    /*word-spacing:-.175em;*/    font-weight:900;
    font-family:"Bookman";
    color:slateblue;
}

#zip {
    position:relative;
    top:.2em;
    width:9vw;
    height:4vh;
    padding:.2%;
    margin:0 1% 1% 1%;
    border:5px solid coral;
    background-color:white;
    color:black;
    font-size:2em;
    font-weight:bold;
}

.content .button {
    position:relative;
    bottom:-7vh;
    width:20vw;
    height:10vh;
    font-size:3.5em;
    font-weight: bold;
    font-family:"Playbill";
    letter-spacing:.03em;
    border:5px solid white;
    color:slateblue;
    background-color:coral;
}